.omain{
  height: 600px;
  width: 1000px;
  background-color: aliceblue;
  border: 2px double;
  margin: 0 auto;
}

.out{
  padding: 60px 150px;
}

.kan{
  border: 2px double;
  font-size: 30px;
  color: black;
  padding: 10px 200px;
}

.suggestion{
  font-size: 50px;
}

.main1{
  height: 1200px;
  width: 1000px;
  background-color: aliceblue;
  border: 2px double;
  margin: 0 auto;
}

.top1{
  height: 200px;
  width: 100%;
  text-align: center;
  padding: 50px 10px;
}

.nickname{
  color: red;
  font-size: 90px;
  background-color: aquamarine;
}

.top2{
  height: 200px;
  width: 100%;
  text-align: center;
  padding: 70px 10px;
}

.rent{
  font-size: 60px;
}

.top3{
  height: 200px;
  width: 100%;
  text-align: center;
  padding: 50px 10px;
}

.utility{
  font-size: 60px;
}

.top4{
  height: 200px;
  width: 100%;
  text-align: center;
  padding: 50px 10px;
}

.phone{
  font-size: 60px;
}

.top5{
  height: 200px;
  width: 100%;
  text-align: center;
  margin: 120px auto;
  padding: 50px 10px;
  font-size: 60px;
}



